/* Variables */

:root {
    --basic-black: #000000;
    --basic-white: #ffffff;
    --basic-lime-green: #00CA74;
    --basic-very-dark-greyish-blue: #283136;
    --basic-very-dark-grey: #444444;
    --basic-soft-red: #FB565A;
    --basic-dark-grey: #4D4D4D;
    --basic-light-grey: #EEEEEE;   
    --basic-soft-yellow: #EFC849;
    --basic-metallic: #666666;
    --basic-very-light-grey: #E1E1E1;
    --basic-light-greyish-blue: #d7dcde;
    --basiic-greyish-blue: #B4B9BB;
    --basic-grey: #c1c1c1;
    --basic-grey: #a6a6a6;
  
    --special-bright-red:#E74246;
    --special-strong-green: #00BC6C;
    --special-dark-green: #00AA62;
    --special-bright-orange: #EAB534;
    --special-vivid-orange: #E5A722;
    --special-moderate-red: #D7373B; 
    --special-very-light-gray: #dfdfdf;
    --special-light-gray: #d5d5d5; 
    --special-very-dark: #231f20;
 }

 /* Global */

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight:400;
    color: var(--basic-very-dark-grayish-blue);
    background-color: var(--basic-white);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}


a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*Grids*/

.page {
    height: 100%;
}

/* Main header*/
.main-header {
    background-color: var(--basic-light-grey);
}


/* Main navigation*/


.main-navigation-wrapper{
    display: grid;
    grid-template-columns: 160px 437px min-content;
    grid-column-gap: 202px;
    background-color: var(--basic-light-grey);
    width: 1160px;
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    line-height: 30px;  
    text-transform: uppercase; 
    font-weight: 500;
    padding-top: 48px;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 30px;
    padding-top: 27px;
}

.site-navigation-current {
    position: relative;
}

.site-navigation-current::after {
    content: "";
    position: absolute;
    top: 43px;
    right: 0;
    left: 2px;
    height: 2px;
    background-color: var(--basic-soft-red);
}
.site-navigation li {
    margin-right: 45px;
}

.site-navigation li:nth-last-child(1){
    margin: 0;
    padding: 0;
}

.user-navigation  {
    max-width: 114px;
    padding-top: 18px;
    margin-left: 45px;
}

.cart-link::before {
    content: "";
    position: absolute;
    display: block;
    top: 15px;
    left: 0px;
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
} 

.user-navigation .cart-link {
    padding-left: 39px;
    position: relative;
}

/* main-header-logo */

.main-header-logo {
    width: 160px;
    height: 65px;
}

.main-header-logo:hover {
    opacity: 0.7;
}

.main-header-logo:active {
    opacity: 0.3;

}

/* User navigation */

.site-navigation a,
.user-navigation a  {
    display: block;
    color: var(--basic-black);
}

.user-navigation a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
    color: var(--basic-soft-red);
    
}

.site-navigation a:active,
.user-navigation a:active {
    color: var(--basic-black);
    opacity: 0.3;
}

/* page-main */


.page-main {
    width: 100%;
    margin: 0  auto;
}



/* Features */

.features-wrapper {
    display: grid;
    width: 100%;
    min-height: 431px;
    margin: 0  auto;
    padding: 0;
    background-color: var(--basic-light-grey);
}

.features,
.market,
.index-columns,
.model {
    width: 1160px;
    margin: 0 auto;
}

.features {
    position: relative;
}

.features-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.features-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-black);
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

.features-description {
    margin: 0;
    padding: 0;
    margin-bottom: 38px;
}

.features-button {
    font: inherit;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: var(--basic-white);
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    border-radius: 3px;
    padding: 17px 54px 18px 54px;
    cursor: pointer;
}

.features-button:link {
    background-color: var(--basic-soft-red);
}

.features-button:hover,
.features-button:focus {
    background-color: var(--special-bright-red);
}

.features-button:active {
    background-color: var(--special-moderate-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button:active {
    color: rgb(255, 255, 255, 0.3);
}

.slide {
    display: none;
}

.slide-current{
    display: grid;
    grid-template-columns: 400px 760px;
    text-align: left;
}

.slider-controls{
    position: absolute;
    bottom: 98px;
    display: flex;
    flex-wrap: wrap;
    left: 50%;
    transform: translateX(-50%);
    
}

.grid-column {
    padding-top: 76px;
    padding-bottom: 80px;
}

.slider-controls button {
    padding: 0;
    width: 18px;
    height: 18px;
    background-color: var(--basic-white);
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin-right: 17px;
}

.slider-controls button:nth-last-child(1) {
    margin: 0;
}

.current{
    position: relative;
}

.slider-controls .current::before {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border: 3px solid var(--basic-grey);
    top: 3px;
    left: 3px;
    border-radius: 50%;
    box-sizing: border-box;
}


/* Market */

.market {
    padding-bottom: 80px;
    border-bottom: 2px solid var(--basic-light-grey);
}

.market-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    column-gap: 100px;
    list-style: none;
    margin-right: 58px;
}

.market-item-1::before {
    content: "";
    position: absolute;
    background-image: url("../img/illustration-1.png");
    width: 300px;
    height: 146px;
    top: 80px;
    left: 0;
}

.market-item-2::before {
    content: "";
    position: absolute;
    background-image: url("../img/illustration-2.png");
    width: 300px;
    height: 146px;
    top: 80px;
    left: 0;
}

.market-item-3::before {
    content: "";
    position: absolute;
    background-image: url("../img/illustration-3.png");
    width: 300px;
    height: 146px;
    top: 80px;
    left: 0;
}

.market h3{
    padding-top: 250px;
    margin: 0;
}

.market-item h3 {
    position: relative;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
    margin-bottom: 16px;
}

.market-item p{
    margin-bottom: 32px;
}

.button-market {
    display: inline-block;
    color: var(--basic-white);
    vertical-align: middle;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 17px 40px 15px 39px;
}

.button-red:link {
    background-color: var(--basic-soft-red);
}

.button-red:hover,
.button-red:focus {
    background-color: var(--special-bright-red);
}

.button-market:active {
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgb(255, 255, 255, 0.3);
}
.button-red:active {
    background-color: var(--special-moderate-red);
}

.button-green:link {
    background-color: var(--basic-lime-green);
}

.button-green:hover,
.button-green:focus {
    background-color: var(--special-strong-green);
}

.button-green:active {
    background-color: var(--special-dark-green);
}

.button-yellow:link {
    background-color: var(--basic-soft-yellow);
}

.button-yellow:hover,
.button-yellow:focus {
    background-color: var(--special-bright-orange);
}

.button-yellow:active {
    background-color: var(--special-vivid-orange);
}

/* Index colums */

.index-columns {
    display: grid;
    grid-template-columns: 651px 360px;
    column-gap: 146px;
    border-bottom: 2px solid var(--basic-light-grey);
    padding-bottom:  72px;
}

/* Information */

.information {
    padding-top: 76px;
}

.information-company {
    color: var(--basic-black);
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
}

.information-orders {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 23px;
}

.information-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.information-item {
    position: relative;
    margin-bottom: 26px;
    margin-left: 35px;
}

.information-item::before { 
    content: "";
    position: absolute;
    display: block;
    background: var(--basic-soft-red);
    width: 25px; 
    height: 1px;
    top: 11px;
    left: -35px;
}

.information-item:nth-last-child(1){
    margin-bottom: 0;
}

/* Statistics */

.statistics {
    margin: 0;
    padding: 0;
    padding-top: 40px;
}

.statistics img {
    width: 360px;
    height: 208px;
    margin-bottom: 36px;
}

.statistics-heading {
    color: var(--basic-black);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.statistics-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-top: 32px;
}

.statistics div {
    margin-right: 1px;
    width: 119px;
}

.statistics sup {
    font-weight: bold;
    font-size: 26px;
    line-height: 40px;
}
.statistics div:nth-last-child(1){
    margin: 0;
}

.statistics-term {
    color: var(--basic-black);
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
    margin-bottom: 10px;
}

.statistics-definition {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;

}

/* Model */
.model {
    padding-top: 52px;
    padding-bottom: 28px;
    border-bottom: 2px solid var(--basic-light-grey);
}

.model a{
    display: block;
}

.model-list {
    display: grid;
    column-gap: 95px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 34px;
}

.model-item  {
    margin: 0;
    padding: 0;
    position: relative;
}
.model a {
    opacity: 0.2;
}

.model-item:not(:last-child)::before { 
    content: "";
    position: absolute;
    display: block;
    background: var(--basic-light-grey);
    width: 2px; 
    height: 52px;
    top: 12px;
    left: 239px;
}


.model a:hover,
.market a:focus{
    opacity: 1;
}

.model a:active {
    opacity: 0.1;
}

.page-title {
    padding: 0;
    margin: 0;
    padding-top: 78px;
    padding-bottom: 108px;
    background-color: var(--basic-light-grey);
}

.page-title h1{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
}

/* Filtres*/

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.filtres-container {
    display: grid;
    grid-template-columns: 260px 760px;
    column-gap: 140px;
    width: 1160px;
    margin: 0 auto;
    padding:0;
    padding-top: 55px;
}

.filtres {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.filter fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.filtres .filter-item {
    margin-bottom: 52px;
}

.range-filter {
    width: 260px;
    margin-top: 49px;
}

.range-controls {
    position: relative;
    height: 41px;
    background-color: var(--basic-light-grey);
    border-radius: 5px;
    margin-bottom: 14px;
    padding-top: 39px;
    padding-left: 22px;
    padding-right: 22px;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00CA74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
}

.range-controls .scale {
    height: 2px;
    background: var(--basic-light-greyish-blue); 
}

.price-controls label {
    font-size: 16px;
    line-height: 22px;
    color: var(--basic-very-dark-greyish-blue);
}

.price-controls input {
    outline: none;
    width: 60px;
    padding: 7px 9px 10px 12px;
    margin-left: 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
    font-family: inherit;
    font-size: inherit;
}

/* Filtres*/
.filter ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.filtres .filter-grid {
    margin-bottom: 44px;
}

.filter-grid legend {
    margin-bottom: 12px;
}

.filter-grid li {
    margin-bottom: 13px;
}
.filter-features li{
    margin-bottom: 15px;
}

.filter-grid li:nth-last-child(1),
.filter-features li:nth-last-child(1){
    margin-bottom: 0;
}

.filtres .filter-features {
    margin-bottom: 48px;
}

.filter-features legend {
    margin-bottom: 14px;
}


.filter-radio,
.filter-checkbox {
    list-style: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    text-transform: none;
    color: var(--basic-very-dark-greyish-blue);
    margin: 0;
    padding: 0;
}

.filter-button {
    border: none;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-black);
    background-color: var(--basic-light-grey);
    text-align: center;
    width: 260px;
    padding: 17px 10px 15px 10px;
    border-radius: 3px;
}

.filter-button:hover {
    outline: none;
    background-color: var(--special-very-light-gray);
}

.filter-button:focus {
    outline: none;
    background-color: var(--special-light-gray);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border-radius: 3px;
}

.filter-option {
    border: none;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    padding-left: 37px;
    padding-top: 3px;
    padding-bottom: 2px;
  }

.filter-checkbox-input + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 19px;
    height: 19px;
    border: 2px solid var(--basic-dark-grey);
    opacity: 0.4;
    border-radius: 4px;
  }

.filter-checkbox-input:checked + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 23px;
    height: 23px;
    border: none;
    background-image: url("../img/Shape-1.svg");
    opacity: 0.4;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-checkbox-input:checked + label::after {
    content: "";
    position: absolute;
    top:0;
    left: 4px;
    width: 21px;
    height: 17px;
    background-image: url("../img/Shape.svg");
    opacity: 0.4;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-checkbox-input:hover 
.filter-checkbox-input:focus {
    color: var(--basic-dark-grey);
    opacity: 1;
}

.filter-radio-input + label::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 17px;
    height: 17px;
    border: 4px solid var(--basic-dark-grey);
    border-radius: 50%;
    opacity: 0.4;
}

.filter-radio-input:checked + label::after{
    content: "";
    position: absolute;
    top: 8px;
    left: 9px;
    width: 8px;
    height: 8px;
    background-color: var(--basic-dark-grey);
    border-radius: 50%;
    opacity: 0.4;
}

/*Sorting*/

.sorting {
    display: flex;
    padding: 0;
    margin: 0;
    padding-bottom: 48px;
}

.sorting h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
    margin: 0;
    padding: 0;
    margin-right: 266px;
}

.sorting-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 272px;
    margin-bottom: 6px;
    margin: 0;
    padding: 0;
}

.sorting-item {
    padding: 0;
    margin-right: 25px;
}

.arrow-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    margin-left: 47px;
}

.arrow-item g{
    opacity: 0.2;
}

.arrow-item :hover {
   opacity: 1;
}

.arrow-item :focus,
.arrow-item :active {
    fill: var(--special-very-dark);
    opacity: 1;
}

.arrow-current path {
    fill: var(--special-very-dark);
}

.arrow-current g {
    opacity: 1;
}

.arrow-current {
    margin-right: 18px;
}

.sorting-item:nth-child(3n) {
    margin-right: 0;
}

.sorting-list a{
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.sorting-item-type a,
.sorting-item-title a {
    opacity: 0.3;
}

.sorting-list a:hover,
.sorting-list a:focus {
    opacity: 0.6;
}

.sorting-list a:active {
    color: var(--basic-black);
    opacity: 1;
}

/*Catalog*/

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 19px;
    list-style: none;
}

.catalog-item {
    position: relative;
    width: 358px;
    min-height: 578px;
    margin-bottom: 32px;
    margin-right: 41px;
    outline: none;
}

.catalog-item:nth-child(2n) {
    margin-right: 0;
}

.catalog-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 360px;
    height: 40px;
    background: #4D4D4D;
    opacity: 0.12;
    border-radius: 3px;
}

.catalog-header:hover {
    opacity: 1;
}

.catalog-header-circle-1 {
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50px;
    background: #ffffff;
    top: 13px;
    left: 16px;
}

.catalog-header-circle-2 {
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50px;
    background: #ffffff;
    top: 13px;
    left: 39px;
}

.catalog-header-circle-3 {
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50px;
    background: #ffffff;
    top: 13px;
    left: 62px;
}

.catalog-item h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
}

.catalog-item p {
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
}

.catalog-category {
    position: absolute;
    content: "";
    display: none;
    bottom: 0;
    left: 0;
    max-width: 360px;
    max-height: 231px;
    border-radius: 3px;
    background-color: var(--basic-light-grey);
    text-align: center;
    padding: 26px 80px 44px 80px;
}

.catalog-item:hover .catalog-category,
.catalog-item:focus-within .catalog-category{
    display: block;
}

.catalog-browser{
    opacity: 0.12;
}
.catalog-item:hover .catalog-browser,
.catalog-item:focus-within .catalog-browser {
    opacity: 1;
}

.catalog-item:hover {
    filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
}
.catalog-category-title a {
    color: var(--basic-black);
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.catalog-category-title a:hover {
    color: var(--basic-soft-red);
}

.catalog-category-title a:focus {
    color: var(--basic-black);
    opacity: 0.3;
}
.catalog-category-description{
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-metallic);
}

.catalog-price {
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
    background-color: var(--basic-soft-red);
    padding: 17px 72px 15px 72px;
    border-radius: 3px;
}

.catalog-price:hover {
    background-color: var(--special-bright-red);
}

.catalog-price:focus {
    background-color: var(--special-moderate-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Main footer */
.main-footer{
    padding-top: 80px;
}

.map {
    background-color: var(--basic-light-grey);
    position: relative;
}

.map img{
    position: absolute;
    width: 100%;
    height: 416px;
    top:0;
    left:0;
}


.contacts {
  position: relative;
  width: 1160px;
  min-height: 416px;
  margin: 0 auto;
}

.footer-social {
    width: 1160px;
    margin: 0 auto;
}

.map-wrapper {
    background-color: var(--basic-white);
    position: absolute;
    top: 54px;
    padding: 49px 50px 47px 50px;
    z-index: 0;
}

.contacts-studio {
    color: var(--basic-black);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-bottom: 22px;
}

.contact-address {
    color: var(--basic-metallic);
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    margin-bottom: 21px;
}


.phone{
    color: var(--basic-metallic);
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    margin-bottom: 34px;
}

.contacts-phone  {
    color: var(--basic-metallic);
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    margin-bottom: 34px;
}


.contacts-button {
    color: var(--basic-white);
    display: inline-block;
    vertical-align: middle;
    background-color: var(--basic-soft-red);
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    padding: 17px 44px 15px 44px;
    border-radius: 3px;
}

.footer-social {
    display: grid;
    grid-template-columns: 260px 544px;
    column-gap: 140px;
    padding-top: 75px;
    padding-bottom: 68px;
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    width: 260px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-item {
    margin-right: 8px;
}

.social-item:nth-of-type(3){
    margin: 0;
}

.footer-sale {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-black);
    margin-bottom: 10px;
    margin: 0;
    padding: 0;
}

.footer-sale h2 {
    margin: 0;
    padding: 0;
}


.social-sale {
    font-size: 16px;
    line-height: 22px;
    color: var(--basic-very-dark-grey);
    padding: 0;
    margin: 0;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background-color: var(--basic-very-light-grey);
    margin-bottom: 7px;
}  

.social-button:hover,
.social-button:focus {
    background-color: var(--special-bright-red);
}

.social-button:active {
    background: linear-gradient(0deg, #D7373B, #D7373B);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1)
}

/*Pagination*/

.pagination-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination-list a {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-black);
    background-color: var(--basic-light-grey);
    padding: 17px 15px 17px 20px;
}

.pagination-item-next a {
    width: 260px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 0;
    padding-top: 17px;
    padding-bottom: 20px;
}
.pagination-item {
    margin-right: 11px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-list a:hover {
    background-color: var(--special-very-light-gray);
    border-radius: 3px;
}

.pagination-list a:focus {
    opacity: 0.3;
    background-color: var(--special-light-gray);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border-radius: 3px;
}


.pagination-list a:active{
    background-color: var(--basic-white);
    border: 3px solid #DBDBDB;
}

.pagination-item a {
    border: 3px solid var(--basic-light-grey);
    background-color: var(--basic-light-grey);
    border-radius: 2%;
}
.pagination-item-current a {
    background-color: var(--basic-white);
    border: 3px solid #DBDBDB;
    border-radius: 2%;
}

/* modal */
.modal {
    position: fixed;
    background-color: var(--basic-white);
    top: 125px;
    right: 0;
    bottom: auto;
    left: 0;
    display: none;
    margin: auto;
    width: 761px;
    background-position: 0 0;
    background-repeat: repeat;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
    padding: 63px 99px 84px 100px;
}

.modal p {
    padding: 0;
    margin: 0;
}

.modal div {
    display: flex;
    justify-content: space-between;
    width: 760px;
    margin-bottom: 34px;
}



.modal-subtitle input{
    width: 360px;
    box-sizing: border-box;
    padding: 16px 14px 16px 16px;
    color: var(--basic-very-dark-grey);
    border: 2px solid var(--basic-light-greyish-blue);
}


.modal-subtitle textarea {
    width: 760px;
    border: 2px solid #D7DCDE;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 47px;
    
}
.modal-subtitle label {
    display: block;
    margin-bottom: 9px;
}

.modal-write {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 37px;
}

.modal-form {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-black);
}


.modal-lead:hover {
    border: 2px solid var(--basiic-greyish-blue);
}

.modal-lead:focus {
    border: 2px solid var(--basic-black);
}


.modal-button {
    display: inline-block;
    vertical-align: middle;
    color: var(--basic-white);
    background-color: var(--basic-soft-red);
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    width: 259px;
    border: none;
    border-radius: 3px;
    padding:  17px 10px 15px 10px;
}

.button-close {
    position: absolute;
    top: 67px;
    right: 101px;
    width: 21px;
    height: 21px;
    background-color: transparent;
    border: 0;
}

.button-close::before,
.button-close::after { 
    content: "";
    position: absolute;
    top:10px;
    left: 3px;
    width: 19px;
    height: 3px;
    background-color: var(--basic-soft-red);
    opacity: 0.3;
}

.button-close::before {
    transform: rotate(45deg);
  }
  
.button-close::after {
    transform: rotate(-45deg);
  }
