/* Variables */

:root {
    --basic-black: #000000;
    --basic-white: #ffffff;
    --basic-lime-green: #00CA74;
    --basic-very-dark-greyish-blue: #283136;
    --basic-very-dark-grey: #444444;
    --basic-soft-red: #FB565A;
    --basic-dark-grey: #4D4D4D;
    --basic-light-grey: #EEEEEE;   
    --basic-soft-yellow: #EFC849;
    --basic-metallic: #666666;
    --basic-very-light-grey: #E1E1E1;
    --basic-light-greyish-blue: #d7dcde;
    --basiic-greyish-blue: #B4B9BB;
  
    --special-bright-red:#E74246;
    --special-strong-green: #00BC6C;
    --special-dark-green: #00AA62;
    --special-bright-orange: #EAB534;
    --special-vivid-orange: #E5A722;
    --special-moderate-red: #D7373B; 
    --special-very-light-gray: #dfdfdf;
    --special-light-gray: #d5d5d5; 
 }

 /* Global */

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight:400;
    color: var(--basic-very-dark-grayish-blue);
    background-color: var(--basic-white);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start
}


a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

/*Grids*/

.page {
    height: 100%;
}

/* Main header*/
.main-header {
    background-color: var(--basic-light-grey);
}


/* Main navigation*/

.main-navigation {
    font-size: 16px;
    line-height: 30px;
    color: var(--basic-black);
}

.main-navigation-wrapper{
    display: grid;
    grid-template-columns: 160px 1fr min-content;
    background-color: var(--basic-light-grey);
    width: 1160px;
    margin: 0 auto;
    padding:0 10px;
    justify-self: center;
    align-items: center;
}

.site-navigation {
    list-style: none;
}

/* User navigation */

.site-navigation a,
.user-navigation a {
    color: var(--basic-black);
}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
    color: var(--basic-soft-red);
    
}

.site-navigation a:active,
.user-navigation a:active {
    color: var(--basic-black);
    opacity: 0.3;
}

/* page-main */


.page-main {
    width: 100%;
    margin: 0  auto;
}

/* Features */

.features-wrapper {
    display: grid;
    width: 100%;
    min-height: 431px;
    margin: 0  auto;
    background-color: var(--basic-light-grey);

}

.features,
.market,
.index-columns,
.model {
    width: 1160px;
    margin: 0 auto;
}

.features-list {
    list-style: none;
}
  
.feature-item {
    text-align: left;
}

.features-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-black);
}

.features-button {
    font: inherit;
    text-align: left;
    color: var(--basic-white);
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}
.features-button:link {
    background-color: var(--basic-soft-red);
}

.features-button:hover,
.features-button:focus {
    background-color: var(--special-bright-red);
}

.features-button:active {
    opacity: 0.3;
    background-color: var(--special-moderate-red);
}
/* Market */

.market-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    column-gap: 100px;
    list-style: none;
}

.market-item {
    text-align: left;
}

.market-item p {
    margin: 0 10px;
}

.market-item h3 {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.button {
    color: var(--basic-white);
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}

.button-red:link {
    background-color: var(--basic-soft-red);
}

.button-red:hover,
.button-red:focus {
    background-color: var(--special-bright-red);
}

.button-red:active {
    opacity: 0.3;
    background-color: var(--special-moderate-red);
}

.button-green:link {
    background-color: var(--basic-lime-green);
}

.button-green:hover,
.button-green:focus {
    background-color: var(--special-strong-green);
}

.button-green:active {
    opacity: 0.3;
    background-color: var(--special-dark-green);
}

.button-yellow:link {
    background-color: var(--basic-soft-yellow);
}

.button-yellow:hover,
.button-yellow:focus {
    background-color: var(--special-bright-orange);
}

.button-yellow:active {
    opacity: 0.3;
    background-color: var(--special-vivid-orange);
}

/* Index colums */

.index-columns {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 70px;
}

/* Information */

.information-company {
    color: var(--basic-black);
    font-weight: 500;
    font-size: 45px;
    line-height: 45px
    
}

.information-orders {
    text-transform: uppercase;
    font-weight: 700;
}

.information-list {
    list-style: none;
}


/* Statistics */

.statistics-heading {
    color: var(--basic-black);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.statistics-term {
    color: var(--basic-black);
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
}

.statistics-definition {
    font-size: 16px;
    line-height: 18px;
}

/* Model */

.model-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
}

.model-item {
    opacity: 0.2;
}

.model-item:hover,
.market-list:focus{
    opacity: 1;
}

.model-item:active {
    opacity: 0.1;
}

.page-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    background-color: var(--basic-light-grey);
}

/* Filtres*/

.filtres {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.price {
    font-size: 16px;
    line-height: 22px;
    color: var(--basic-very-dark-greyish-blue);
}

.filter-radio,
.filter-checkbox {
    list-style: none;
    font-size: 16px;
    line-height: 20px;
    text-transform: none;
    color: var(--basic-very-dark-greyish-blue);
}

.filter-button {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-black);
    background-color: var(--basic-light-grey);
}

.filter-button:hover {
    background-color: var(--special-very-light-gray);
}

.filter-button:focus {
    background-color: var(--special-light-gray);
}


.sorting {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.sorting-list {
    list-style: none;
}

.sorting-list a{
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-black);
}

.sorting-item-type a,
.sorting-item-title a {
    opacity: 0.3;
}

.sorting-list a:hover {
    opacity: 0.6;
}

.sorting-list a:focus,
.sorting-list a:active {
    color: var(--basic-black);
    opacity: 1;
}

/*Catalog*/

.catalog-list {
    list-style: none;
}

.catalog-category {
    background-color: var(--basic-light-grey);
    text-align: center;
}

.catalog-category-title a {
    color: var(--basic-black);
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.catalog-category-title a:hover {
    color: var(--basic-soft-red);
}

.catalog-category-title a:focus {
    color: var(--basic-black);
    opacity: 0.3;
}
.catalog-category-description{
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-metallic);
}

.catalog-price {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
    background-color: var(--basic-soft-red);
}

.catalog-price:hover {
    background-color: var(--special-bright-red);
}

.catalog-price:focus {
    background-color: var(--special-moderate-red);
}

/* Main footer */

.map {
    width: 100%;
    margin: 0  auto;
    background-color: var(--basic-light-grey);
}

.map-wrapper,
.contacts ,
.footer-social {
    width: 1160px;
    margin: 0 auto;
}
.contacts {
    text-align: left;
    background-color: var(--basic-white);
}

.contacts-studio {
    color: var(--basic-black);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.contact-address,
.phone,
.contacts-phone  {
    color: var(--basic-metallic);
    font-size: 16px;
    line-height: 18px
}

.contacts-button {
    color: var(--basic-white);
    background-color: var(--basic-soft-red);
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase
}

.social-item  {
    list-style: none;
}

.footer-sale {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-black);
}

.social-sale {
    font-size: 16px;
    line-height: 22px;
    color: var(--basic-very-dark-grey);
}

.social-button {
    background-color: var(--basic-very-light-grey);
}

.pagination-list a {
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-black);
    background-color: var(--basic-light-grey);
}

.pagination-list a:hover {
    background-color: var(--special-very-light-gray);
}

.pagination-list a:focus {
    opacity: 0.3;
    background-color: var(--special-light-gray);
}

.pagination-list a:active{
    background-color: var(--basic-white);
    border: 3px solid #DBDBDB;
}

.pagination-item-current {
    background-color: var(--basic-white);
    border: 3px solid #DBDBDB;
}

/* modal */

.modal {
    background-color: var(--basic-white);
    text-align: left;
}

.modal-write {
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
}

.modal-form {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-black);
}

.modal-lead {
    color: var(--basic-very-dark-grey);
    border: 2px solid var(--basic-light-greyish-blue);
}

.modal-lead:hover {
    border: 2px solid var(--basiic-greyish-blue);
}

.modal-lead:focus {
    border: 2px solid var(--basic-black);
}

.modal-button {
    color: var(--basic-white);
    background-color: var(--basic-soft-red);
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}

